
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Serif", serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #dfd9cb;
}

#footer {
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 1000;
    font-family: "Libre Caslon Text", serif;
    color: rgb(71, 35, 55);
    text-align: center;
    font-size: small;
}

main {
    height: 100vh;
}

#title-container {
    position: absolute;
    z-index: 100000;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dfd9cb99;
    color: rgb(61, 15, 38);
    text-align: center;
    padding: 0px 10px;
    border-radius: 23px;
    box-shadow: 0px 0px 12px 12px #dfd9cb99;
}

h2 {
    font-family: "Libre Caslon Text", serif;
    margin: 0px;
}

#logo {
    width: 26px;
    height: 26px;
    margin: 0px 10px 0px 10px;
    filter: brightness(0.75);
}

#map {
    height: 100%;
    width: 100%;
}

.leaflet-tile {  
    filter: grayscale(0.55) sepia(0.15) brightness(0.82) contrast(1.2)
}

.leaflet-container {
    font-family: "Noto Serif", serif;
}

.leaflet-control-attribution {
    background: #00000000 !important;
}

.hidden-marker {
    display: none !important;
}    

#region-info-box {
    position: absolute;
    top: 20px;
    left: 70px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 10px 8px 10px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#region-info-box.hidden {
    display: none;
}

#region-info-box button {
    background: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    margin-left: 4px;
    cursor: pointer;
}

.search-container {
    position: absolute;
    top: 6.6vh;
    left: 1vw;
    margin: 25px 0px 0px 60px;
    width: 400px;
    z-index: 1000;
}

#search-bar {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-bar::placeholder {
    font-family: "Noto Serif", serif;
}

.autocomplete-items {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.selected-items {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.selected-item {
    background-color: #e2e2e2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.selected-item span {
    margin-right: 10px;
}

.selected-item button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.custom-zoom-control {
    position: absolute;
    top: 6.6vh;
    left: 1vw;
    display: flex;
    flex-direction: column;
}

.custom-zoom-control a {
    background-color: white;
    color: rgb(97, 65, 65);
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
}

.custom-zoom-control a:hover {
    background-color: #f4f4f4;
}


@media (max-width: 600px) {
    h2 {
        font-size: 14pt;
    }

    .search-container{
        width: 80%;
    }

    .leaflet-control-attribution {
        font-size: 7pt;
    }
}

.popup-title {
    font-weight: bold;
    font-size: 11pt;
}

.leaflet-popup-content-wrapper {
    background-color: #f7f6f3ee;
}

.leaflet-popup-tip {
    background-color: #f7f6f3ee;
}

.report-link {
    font-size: 8pt;
    color: #da918f !important;
    text-align: right;
    display: block;
}

.custom-marker-icon {
    margin: 4.5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.custom-marker-region {
    margin: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}